version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "monthly"
    ignore:
      # core is using lower Guava version, don't touch it unless you want things to blow up on client installations at runtime
      - dependency-name: "com.google.guava:guava"
      # we don't want to automatically bump core
      - dependency-name: "org.jenkins-ci.main:jenkins-core"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"